.dlt-btn {
    color: #8B4513;
    background-color: #F3EAE1;
    border-radius: 5px;
    border: 2px solid #8B4513;
    height: 35px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dlt-btn:hover {
    background-color: rgba(250, 246, 241, 0.8);
    border-color: #D9BFA9;
    transform: translateY(-2px);
    
}

.dlt-btn:active {
    background-color: #D9BFA9;
    border-color: #C1A57A;
    transform: translateY(0);
    
}

.room-title{
    color: #8B4513;
    font-family: 'Playfair Display', serif;
    padding-bottom: 15px;
}

.room-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    font-size: 40px;
  
}
.room-icon{
    color: #8B4513;
}